<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td>
          <%= blog.title %>
        </td>
        <td>
          <%= blog.body %>
        </td>
        <td>
          <%= link_to 'Show', user_blog_path(current_user, blog) %>
        </td>
        <td>
          <%= link_to 'Edit', edit_user_blog_path(current_user, blog) %>
        </td>
        <td>
          <%= link_to 'Destroy', user_blog_path(current_user, blog),
          method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_user_blog_path(current_user) %>

<% if user_signed_in? %>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
<% end %>
