<h4>Title: </h4>
  <p><%= @blog.title %></p>
<h4>Body: </h4>
  <p><%= @blog.body %></p>

<%= link_to 'Edit', edit_user_blog_path(current_user, @blog) %> |
<%= link_to 'Back', user_blogs_path(current_user) %>
