<h4>Welcome</h4>
<% if user_signed_in? %>
  <p> Hello <%= current_user.email %>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
<% else %>
  <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
  <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
<% end %>
